p, h2 {
	text-align: center;
	text-transform: capitalize;
}

.MovieCard {
	background: rgb(245, 244, 244);
	border-radius: 10px;
	margin: .5em;
	text-align: center;
	padding: 1em 5em;
}

.MovieCard:hover {
	transform: scale(1.01);
	transition: all .2s ease-in-out;
	box-shadow: 0 0 .5em rgba(33, 33, 33, 0.63); 
}