body {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 4px;
}

.Movie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: rgb(184, 184, 184) solid 1px;
}

.InputBox {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}
